@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "tailwindcss";

/* Base Styles */
body {
    background-color: #FDFDFD;
    min-height: 100vh;
    position: relative;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Header Backgrounds */
.home-header {
    background: linear-gradient(300.39deg, #0009 .63%, #0000 18.44%), url(/assets/rouvoo-home-banner-BrbKfaG5.png);
    background-color: #aaa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: top left;
    height: 100%;
}

@media (max-width: 768px) {
    .home-header {
        background: linear-gradient(300.39deg, #0009 .63%, #0000 18.44%), url(/assets/rouvoo-home-banner-mobile-BrM0L8GH.jpg);
        background-color: #aaa;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: top left;
    }
}

@media (max-width: 480px) {
    .home-header {
        background: linear-gradient(300.39deg, #0009 .63%, #0000 18.44%), url(/assets/rouvoo-home-banner-mobile-BrM0L8GH.jpg);
        background-color: #aaa;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: top left;
    }
}

.riders-header {
    background: linear-gradient(300.39deg, #0009 .63%, #0000 18.44%), url(/assets/riders-header.png);
    background-color: #aaa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: top left;
    height: 100%;
}

@media (max-width: 768px) {
    .riders-header {
        background: linear-gradient(300.39deg, #0009 .63%, #0000 18.44%), url(/assets/riders-header-mobile.png);
        background-color: #aaa;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: top left;
    }
}

@media (max-width: 480px) {
    .riders-header {
        background: linear-gradient(300.39deg, #0009 .63%, #0000 18.44%), url(/assets/riders-header-mobile.png);
        background-color: #aaa;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: top left;
    }
}

.terms-header {
    background: linear-gradient(300.39deg, #0009 .63%, #0000 18.44%), url(/assets/rouvoo-home-banner-BrbKfaG5.png);
    background-color: #aaa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-origin: top left;
    height: 100%;
}

.contact-header {
    background: linear-gradient(300.39deg, #0009 .63%, #0000 18.44%), url(/assets/contact-header.png);
    background-color: #aaa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-origin: top left;
    height: 100%;
}

.about-header {
    background: linear-gradient(300.39deg, #0009 .63%, #0000 18.44%), url(/assets/about-header.jpg);
    background-color: #aaa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: top left;
    height: 100%;
}

@media (max-width: 768px) {
    .about-header {
        background: linear-gradient(300.39deg, #0009 .63%, #0000 18.44%), url(/assets/about-header-mobile.png);
        background-color: #aaa;
        height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: top left;
    }
}

@media (max-width: 480px) {
    .about-header {
        background: linear-gradient(300.39deg, #0009 .63%, #0000 18.44%), url(/assets/about-header-mobile.png);
        background-color: #aaa;
        height: 48vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: top left;
    }
}

.vendors-header {
    background: linear-gradient(300.39deg, #0009 .63%, #0000 18.44%), url(/assets/vendors-header.png);
    background-color: #aaa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: top left;
    height: 100%;
}

.hamburger {
    cursor: pointer;
    position: relative;
    margin: 10px 5px 10px 15px;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    padding: 8px;
}

.hamburger span {
    background-color: #0009;
    display: block;
    height: .126em;
    margin-bottom: .28em;
    position: relative;
    top: 0;
    transition: all .3s ease-in-out;
    width: 1.5em;
}

.hamburger span:nth-of-type(1) {
    width: 1.25em;
    margin-right: 2px;
}

.hamburger span:nth-of-type(2) {
    width: 1.8em;
}

.hamburger span:nth-of-type(3) {
    width: 1.5em;
    margin-left: 8px;
}

.close-hamburg {
    cursor: pointer;
    position: relative;
    margin: 10px 5px 10px 15px;
    background-color: transparent;
    color: #333;
    padding: 8px;
    -webkit-tap-highlight-color: transparent;
}

.close-hamburg div span {
    background-color: #333;
    display: block;
    height: .133em;
    margin-bottom: 0;
    position: relative;
    top: 0;
    transition: all .3s ease-in-out;
    width: 1.25em;
}

.close-hamburg div span:nth-of-type(1) {
    width: 1.25em;
    transform: rotate(135deg);
}

.close-hamburg div span:nth-of-type(2) {
    width: 1.25em;
    transform: rotate(-115deg);
}

/* Typography */
.tx-inter-t {
    font-family: Inter Tight, sans-serif;
}

.tx-inter {
    font-family: Poppins, sans-serif;
}

/* Carousels & Sliders */
.profiles-marquee,
.vendors-slider {
    overflow: hidden;
    width: 100%;
}

.profiles-track,
.vendors-track {
    display: flex;
    width: max-content;
    animation: scroll var(--scroll-speed) linear infinite;
}

.profiles-marquee:hover .profiles-track,
.vendors-slider:hover .vendors-track {
    animation-play-state: paused;
}

.profile-card,
.vendor-card {
    min-width: fit-content;
    text-align: center;
    align-items: center;
    padding: 0 0.5rem;
    outline: none;
}

/* .profile-card:focus,
.vendor-card:focus {
    outline: 2px solid #fe6c17;
    outline-offset: 2px;
} */

.profile-image-wrapper,
.vendor-image {
    width: 180px;
    height: 180px;
    margin: 0.75rem auto;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image-wrapper img,
.vendor-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name,
.vendor-name {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin-bottom: 0.5rem;
    color: #333;
}

.profile-title {
    font-size: 16px;
    font-weight: 500;
    max-width: 200px;
    color: #708090;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (min-width: 640px) {

    .profiles-marquee,
    .vendors-slider {
        display: none;
    }
}

/* Utility Classes */
.what-we-offer {
    background: linear-gradient(to bottom, #FDFDFD, #e8efff 4%);
}

/* Accordion Styles */
.accordion {
    border-radius: 8px;
    border: .5px solid rgba(255, 255, 255, .4);
}

.accordion button {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    outline: none;
    color: #e7e7e9;
    font-style: normal;
    font-weight: 500;
}

.accordion button .icon svg {
    width: 16px;
    height: 16px;
}

.accordion button.active {
    background-color: #292929;
}

.accordion button.active .icon svg {
    rotate: 45deg;
}

.accordion-content {
    max-height: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    opacity: 0;
    overflow: hidden;
    transition: max-height 1.6s ease-in-out, opacity .2s ease-out;
    /* padding-bottom: 8px; */
}

.accordion-content p {
    color: #ffffff90;
    padding: 12px 16px;
    font-size: 13px;
}

.accordion-content.active {
    opacity: 1;
    max-height: max-content;
    background-color: #292929;
}

:root {
    --swiper-theme-color: #007aff;
    --scroll-speed: 30s;
}